.nifty-wrapper {
  display: flex;
  padding: 15px 10px 45px 10px;
  background: #E8E8E8;
  border: none !important;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;

}

.single-nifty {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--gray-dark);
  font-size: 17px;
  .single-nifty-name{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;

    .name{

    }
    .percent{
      color: var(--red);
    }
  }
  svg{
    color: var(--red);
    font-size: 22px;
  }
}
