.css-136j42i-MuiTableRow-root:nth-of-type(even) {
  background-color: rgb(17 236 47 / 9%);
  border: none;
}
.css-1nslmh4-MuiTableCell-root.MuiTableCell-head {
  background-color: var(--green);
}
.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head{
  background-color: var(--green);
}